*.bak
*.rpt
*.done
*.summary
*.jdi
*.pin
*.qsf
*.sof
*.html
*.sopcinfo
*.bsf
*.txt
*.qpf
.qsys_edit
ubcmcldsystem
incremental_db
db/
bin/
gen/
libs/
.classpath
.project
.settings/
*.properties
.sopc_builder/
Makefile
.cproject
!src/Altera_UP_SD_Card_Memory_Block.bsf
*.qws